.ant-btn-primary {
  background-color: #412973;
  border:solid black;
}


.ant-btn.ant-btn-primary:hover {
  background-color: #412973;
  border: solid #a584ec;
} 

.ant-btn.ant-btn-primary:active {
background-color: #412973;
border: solid black;

} 

.ant-btn.Units {

background-color: #1a6680;
text-align: center;
color:white;
font-size: x-large;
border:solid 4px black;
width: 250px;
height: 200px;

}

.ant-btn.Units:hover {
color:white;
background-color: #1a6680;
text-align: center;
border: solid 4px#34CBFF;
}
