.ant-btn-primary {
  background-color: #412973;
  border:solid black;
}


.ant-btn.ant-btn-primary:hover {
  background-color: #412973;
  border: solid #a584ec;
} 

.ant-btn.ant-btn-primary:active {
background-color: #412973;
border: solid black;

} 

.ant-btn.FileName {
  background-color: #1A6680;
  border:solid black;
}


.ant-btn.Quizzes {

  background-color: #1a6680;
  text-align: center;
  color:white;
  font-size: x-large;
  border:solid 4px black;
  width: 250px;
  height: 200px;
  
  }
  
  .ant-btn.Quizzes:hover {
  color:white;
  background-color: #1a6680;
  text-align: center;
  border: solid 4px#34CBFF;
  }

  .PracticeQuizzes {
    position: relative;
}

.QuizzesOptions {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PracticeQuizzes:hover .QuizzesOptions {
    display: block;
}

.QuizOptions {
  background-color: #1A6680;
  border-color: #1A6680;
  color: white;
}
