*{
    box-sizing: border-box;
}

.container{
    margin: 1rem;
    text-align: center;
}

.navbar{
    background-color: #ffffff;
    color: white;
    display: 'flex';
    justify-content: center;
    position: relative;
}


.ant-menu-item.nav-item {
    color: #412973;
}

.avatar-item {
    position: absolute;
    left: 470px;
    color: #412973;
}
