*{
    box-sizing: border-box;
}



.container{
    margin: 1rem;
    text-align: center;
}

.navbar{
    background-color: #ffffff;
    color: white;
}


.ant-menu-item.nav-item {
    color: #412973;
}
